<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.parentmonitoring">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParentMonitoring">
        <activity
            android:name=".busservicemanagement.ReportLostCard"
            android:exported="true" />
        <activity
            android:name=".busservicemanagement.AbsenceHistory"
            android:exported="true" />
        <activity
            android:name=".busservicemanagement.ApplyAbsence"
            android:exported="true" />
        <activity
            android:name=".busservicemanagement.FeedbackRequest"
            android:exported="true" />
        <activity
            android:name=".busservicemanagement.EditChildren"
            android:exported="true" />
        <activity
            android:name=".busservicemanagement.ChildrenDetail"
            android:exported="true" />
        <activity
            android:name=".busservicemanagement.ChildrenInfo"
            android:exported="true" />
        <activity
            android:name=".busservicemanagement.AddChildren"
            android:exported="true" />
        <activity
            android:name=".account.ChangePassword"
            android:exported="true" />
        <activity
            android:name=".account.UpdateProfile"
            android:exported="true" />
        <activity
            android:name=".account.AccountMain"
            android:exported="true" />
        <activity
            android:name=".busmonitoring.BusMonitoring"
            android:exported="true" />
        <activity
            android:name=".busservicemanagement.BusServiceManagement"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>